* {
    background-color: #f8f9fa;
    color: #333;
    font-family: Roboto,sans-serif;
}

.logo-img {
    margin: 0;
}

.home-icon {
    background-color: black;
    margin: 0;
    width: 90%;
}

nav {
    padding: 1.5vw 3vw;
}

.linear-gradient-leos {
    background: linear-gradient(90deg,#5d5b82 10%,#4f5da7 39%,#4e74c2 58%,#8fffc7);
}

.card-img-div > img {
    background-color: transparent;
    max-width:100%;
    max-height:100%;
    display:block;
    margin:auto;
}


.section-post-content p {
    margin-bottom: 2rem;
}

.section-post-content a, a:link, a:hover, a:visited, a:link, a:active{
    text-decoration: none;
    color: #007bff;
    box-shadow: none;
}

.section-post-content h1 {
    line-height: 1.4;
    font-size: 3em;
    margin: 0 0 .5em;
}

.section-post-content h2 {
    margin-bottom: 1em!important;
    margin-top: 2em!important;
    font-size: 1.75rem;
}

.section-post-content h2::before {
    content: "#";
    margin-right: .5rem;
    font-size: 90%;
    opacity: .7;
    line-height: 1;
    color: #17a2b8;
    transform: translateY(4px);
    display: inline-block;
    border-radius: 10px;
}

/* 
TODO: hay que estilizar todo el contenido del blog, con section-post-content el selector que sea

TODO: mirar que el segundo post quede bien el prism.css es decir que los bloques de código queden resultones
*/